body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #44291e;
  background: #3e281d;
}

/* ! ========= Navbar Start ========== */
nav {
  height: 86px;
  width: 100%;
  background-color: #22150c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #c0b9b1;
  font-family: system-ui;
  font-weight: 600;
  border-bottom: 5px solid #b98a52;
  border-radius: 188px;
  margin-top: 10px;
}

.nav__left img {
  width: 63px;
}

.nav__center {
  width: 30%;
}

.nav__center ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

/* ? ========= Navbar End ========== */

/* ! ========== Create Start ========= */
.section__add {
  margin-top: 20px;
}
.section__add input {
  background-color: #22150c;
  height: 20px;
  color: white;

  margin-top: 3px;
}
.section__add button {
  margin-top: 3px;
  background: #22150c;
  border: 2px solid #767676;
  height: 28px;
  color: white;
}
.section__add div {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}
/* ? ========== Create End ========= */

/* ! =========== Read Start ========== */
#section__read {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22150c;
  color: #c0b9b1;
  border-radius: 20px;
  border: 1px solid #b98a52;
}
.card__bg {
  width: 74%;
  border-radius: 20px;
  height: 160px;
}

.card h2 {
  font-family: system-ui;
}
.card p,
span {
  font-size: 20px;
  margin: 5px;
  font-family: system-ui;
}
.admin-panel {
  filter: invert(100%);
  -webkit-filter: invert(75%);
  margin-bottom: 23px;
}
/* ? =========== Read End ========== */

/* ! ============== Edit Start ========= */
.main-modal {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.502);
  width: 100%;
  height: 100%;
  display: none;
}

.main-modal__window {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 200px auto 0;
}
/* ? ============== Edit End ========= */
#block_info {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.502);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cardIn {
  width: 23%;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22150c;
  color: #c0b9b1;
  border-radius: 20px;
  border: 1px solid #b98a52;
}
#textin {
  font-size: 17px;
  margin: 5px;
  font-family: system-ui;
}
#cardIn img {
  width: 74%;
  border-radius: 20px;
  height: 160px;
}
